<div class="todo">
  <h2 class="todo__title glass">Todo List</h2>
  <div class="todo__actions">
    <button (click)="toggleForm()" class="default-button">
      {{isPopupActive ? 'Close' : 'Add +'}}
    </button>
  </div>
  <div class="todo__form">
    <app-create-todo-popup
      *ngIf="isPopupActive"
      [todo]="defaultItem"
      (submit)="submitChanges($event)"
    ></app-create-todo-popup>
  </div>
  <div class="todo__list">
    <ul class="list glass">
      <li
        class="list__item glass"
        *ngFor="let todo of toDose; let i = index"
        [class.completed]="todo.completed"
        (click)="markAsCompleted(i)"
      >
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" *ngIf="todo.completed; else notCompleted">
          <path fill="currentColor" d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7Z" />
        </svg>
        <ng-template #notCompleted>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="grey" d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
          </svg>
        </ng-template>
        <p class="list__item--text">
          <span>{{i+1}}) {{todo.title}}.</span>
          <span>
            Priority:
            {{todo.priority.toUpperCase()}}
          </span>
        </p>
        <button
          (click)="editTodo(i); $event.stopPropagation()"
          class="list__item--button"
        >
          <svg style="width:18px;height:18px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
          </svg>
        </button>
        <button
          (click)="deleteTodo(i); $event.stopPropagation()"
          class="list__item--button"
        >
          <svg style="width:18px;height:18px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8.46,11.88L9.87,10.47L12,12.59L14.12,10.47L15.53,11.88L13.41,14L15.53,16.12L14.12,17.53L12,15.41L9.88,17.53L8.47,16.12L10.59,14L8.46,11.88M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
