.todo {
  height: 100%;
  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}

.list {
  list-style: none;
  margin: -10px;
  width: 100%;
  max-width: 750px;
  max-height: 750px;
  overflow: scroll;
  &__item {
    margin: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    transition: .2s linear;
    cursor: pointer;

    p {
      margin: 0 15px;
      flex-grow: 1;
    }

    &--text {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &--button {
      margin: 0 .3rem;
      padding: .5rem;
      background-color: transparent;
      outline: none;
      border-radius: 50%;
      border: none;
      opacity: .7;
      transition: .2s linear;

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0, .1);
        opacity: 1;
        transition: .2s linear;
      }
    }
  }
}

.completed {
  background-color: #1dbf1d;
  border-color: #1dbf1d;
  color: white;
  transition: .2s linear;

  .list__item--button {
    color: white;
  }
}
