.todo {
  height: 100%;
  &__title {
    margin-bottom: 1rem;
    padding: 1rem;
    color: #00a1d6;
  }
  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    button {
      color: #00a1d6;
    }
  }
}

.list {
  list-style: none;
  margin: -10px;
  width: 100%;
  max-width: 750px;
  max-height: 750px;
  overflow: scroll;

  &__item {
    margin: 1rem;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s linear;
    cursor: pointer;

    p {
      margin: 0 15px;
      flex-grow: 1;
    }

    &--text {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &--button {
      margin: 0 .3rem;
      padding: .5rem;
      outline: none;
      opacity: .7;
      transition: .2s linear;
      background: rgba( 255, 255, 255, 0.40 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 0.5px );
      -webkit-backdrop-filter: blur( 0.5px );
      border-radius: 50%;
      border: 1px solid rgba( 255, 255, 255, 0.18 );

      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0, .1);
        opacity: 1;
        transition: .2s linear;
      }
    }
  }
}

.completed {
  background-color: #00a1d6;
  border-color: #00a1d6;
  color: white;
  transition: .2s linear;

  .list__item--button {
    color: white;
  }
}
