.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    color: #d7d7d7;
    font-weight: bold;
  }

  &__action{
    color: #d7d7d7;
  }
}
