<div class="gallery">
  <ul
    class="gallery__list"
    *ngIf="gallery.length"
  >
    <li
      class="gallery__item"
      *ngFor="let item of gallery; let i = index"
    >
      <div class="item glass">
        <div class="item__body">
          <img *ngIf="item.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path" alt="Poster">
          <p>{{item.title}}</p>
        </div>
        <div class="item__footer">
          <p class="item__votes">
            <span class="score" [style]="getVoteColor(item.vote_average)">{{item.vote_average}}</span>
            <span>Votes: {{item.vote_count}}</span>
          </p>
        </div>
        <div class="item__btn">
          <button
            class="glass"
            (click)="openMovieDetails(item.id)"
          >Reade more...</button>
        </div>
      </div>

    </li>
  </ul>
  <ng-template #defaultGallery>
    <div class="gallery__default">Type to find results...</div>
  </ng-template>
</div>
