<div class="gallery">
  <ul
    class="gallery__list"
    *ngIf="gallery.length"
  >
    <li
      class="gallery__item"
      *ngFor="let item of gallery; let i = index"
    >
      <div class="item">
        <div class="item__header">
          <h5>{{item.title}}</h5>
          <span>Rank: {{item.release_date}}</span>
        </div>
        <div class="item__body">
          <img *ngIf="item.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path" alt="Poster">
          <p>Actors: {{item.title}}</p>
        </div>
        <div class="item__footer">
          <p>Year: {{item.title}}</p>
          <p *ngIf="item.title">Years: {{item.title}} - {{item.title}}</p>
          <p>Type: {{item.title}}</p>
        </div>
        <p>{{item.id}}</p>
      </div>

    </li>
  </ul>
  <ng-template #defaultGallery>
    <div class="gallery__default">Type to find results...</div>
  </ng-template>
</div>
