.sidebar {
  height: 90%;
  padding: 1rem .5rem;
  margin: 1rem 0;
}

.navigation{
  padding: 1rem 0;
  margin: -.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  &__item {
    width: 100%;
    margin: .2rem 0;
    padding: .5rem;
    font-size: 1.2rem;
    color: #00a1d6;
    cursor: pointer;
    transition: .2s linear;

    &:hover {
      color: white;
      background-color: rgba(0, 161, 214, 0.33);
      transition: .2s linear;
    }

    &--active {
      color: white;
      background-color: #00a1d6;
      transition: .2s linear;
    }
  }
}

