<div class="film">
  <div class="film__header">
    <h2 class="film__title">IMDb search</h2>
    <div class="film__buttons">
      <button class="film__btn" (click)="query = '/movie/latest'; search()">Latest</button>
      <button class="film__btn" (click)="query='/movie/top_rated'; search()">Top Rated</button>
      <button class="film__btn" (click)="query='/movie/popular'; search()">Popular</button>
      <button class="film__btn" (click)="query='/movie/now_playing'; search()">Now Playing</button>
      <button class="film__btn" (click)="query='/movie/upcoming'; search()">Upcoming</button>
    </div>
  </div>
  <app-film-gallery [gallery]="data"></app-film-gallery>
</div>
