.film {
  padding: 1rem;

  &__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d7d7d7;

    h1 {
      width: 100%;
    }
  }

  &__buttons {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  &__btn {
    padding: .5rem 1rem;
    outline: none;
    color: #d7d7d7;
    font-size: 1rem;
    font-weight: bold;
    border: none;
  }

  &__pagination {
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__arrow, &__number {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #d7d7d7;
    transition: .2s linear;
    background-color: #000000;
    border: none;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
      transition: .2s linear;
    }
  }

  &__number--active {
    background-color: #d7d7d7;
    color: black;
    transition: .2s linear;
  }
}
