.home {
  height: 100%;
  &__content {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    padding: 1rem;
    font-size: 2rem;
    color: #d7d7d7;
    border-bottom: 1px solid rgba( 255, 255, 255, .6 );
  }

  &__description {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #d7d7d7;
  }

  &__date {
    margin-top: 3rem;
    align-self: flex-end;
    color: #d7d7d7;
    border-bottom: 1px solid rgba( 255, 255, 255, .6 );
  }

  img {
    margin: 1rem 0;
    max-width: 50%;
  }
}
